@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body
{
    font-family: "Raleway" , "sans-serif";
    margin: 0;
}

#bloc_page
{
    max-width: 1390px;
    margin: auto;
    padding: 0 30px;
}

a
{
    text-decoration: none;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 121px;
    width: 1390px;
    max-width: 100%; 
}

#logo
{

}

.container_nav_p
{
    display: flex;

}

nav ul 
{
    display: flex;
    list-style-type: none;
    font-size: 1em;
}

nav a 
{
    text-decoration: none;
    color: black;
    padding: 30px 40px;
}

nav a:hover
{
    color: #0065FC;
    border-top: solid 2px;
    padding-top: 49px;
}

#inscription
{
    color: #0065FC;
    font-weight: bold;
    padding: 30px 30px 30px 40px;
}

@media all and (max-width: 651px)
{
    header
    {
        display: flex;
        align-items: flex-start;
        height: 150px;
        padding-top: 40px;
    }
    
    .container_nav_p
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        width: 100%;
    }

    nav 
    {
        width: 100%;
        margin-top: 10px;
    }

    ul 
    {
        padding: 0;
    }

    li 
    {
        width: 100%;
        text-align: center;
        border-bottom: solid 3px #F2F2F2;
        padding-bottom: 20px;
    }

    li:hover
    {
        border-bottom: solid 3px #0065FC;
        padding-bottom: 20px;
    }

    #logo 
    {
        position: absolute;
    }

    nav a 
    {
        padding: 0;
    }

    nav a:hover
    {
        border: none;
    }

}

h1
{
    font-size: 1.5em;
    font-weight: 700;
    font-weight: bold;
    margin: 0;
}

h1 + p
{
    font-size: 1em;
    font-weight: 500;
    margin: 8px 0 20px 0;
}

label
{
    font-size: 1.10em;
    padding: 17px 18px;
    background-color: #F2F2F2;
    border-radius: 20px 0 0 20px;
    position: relative;
    left: 4px;
    top: 1px;
}

.barre_de_recherche
{
    font-size: 1.05em;
    font-weight: bold;
    width: 235px;
    padding: 16px 0px 16px 10px;
    border: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.barre_de_recherche:focus
{
    outline: none;
}

.bouton_rechercher
{
    font-size: 1.05em;
    font-weight: bold;
    color: white;
    padding: 17px 24px;
    background-color: #0065FC;
    position: relative;
    right: 4px;
    border: none;
    border-radius: 0 16px 16px 0;
    cursor: pointer;
}

.logo_recherche
{
    display: none;
}

@media all and (max-width: 651px)
{
    .bouton_rechercher
    {
        display: none;
    }

    .logo_recherche
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 55px;
        color: white;
        font-size: 1.20em;
        background-color: #0065FC;
        border-radius: 17px;
    }

    form 
    {
        display: flex;
        width: 100%;
    }

    .barre_de_recherche
    {
        flex-grow: 1;
        max-width: 100%;
    }
}

.div_filtres
{
    display: flex;
    margin: 35px 0 40px 15px;
    flex-wrap: wrap;
}

@media all and (max-width: 651px)
{
    .div_filtres
    {
        margin-left: 0;
    }
}

.container_filtres
{
    display: flex;
    flex-wrap: wrap;
}

.h2_filtres
{
    margin: 17px 40px 15px 0px;
    font-weight: bold;
    font-size: 1.05em;
}

.txt_logo_filtres
{
    display: flex;
    align-items: center;
    margin-right: 32px;
    margin-bottom: 16px;
    font-weight: bold;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    cursor: pointer
}

.eco:hover
{
    background-color: #DEEBFF;
    border: none;
    width: 185.78px;
    height: 55px;
    position: relative;
    left: 2px;
}


.fam:hover
{
    background-color: #DEEBFF;
    border: none;
    width: 148.03px;
    height: 55px;
    position: relative;
    left: 2px;
}

.rom:hover
{
    background-color: #DEEBFF;
    border: none;
    width: 183.22px;
    height: 55px;
    position: relative;
    left: 2px;
}

.ani:hover
{
    background-color: #DEEBFF;
    border: none;
    width: 233.22px;
    height: 55px;
    position: relative;
    left: 2px;
}

.logo_filtres
{
    font-size: 1.10em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin: -2px;
}

.txt_filtres
{
    margin-left: 12px;
    margin-right: 18px;
    font-weight: bold;
    font-size: 1.05em;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    color: #0065FC;
    font-size: 1.10em;
}

.p_i_info
{
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
}

.logo_info
{
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    border: solid 1.5px #d9d9d9;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 1em;
    position: relative;
    bottom: 1px;
}

.fa-info
{
    color: #0065FC;
}

.hebergements_populaires
{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
}

.hebergements
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 64%;
    height: 620px;
    padding: 0 20px 0 20px;
}

.titre_hebergements
{
    margin: 40px 20px 20px 20px;
    font-size: 1.5em;
    font-weight: 700;
    font-weight: bold;
    
}

.hebergements_container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 75%;
}

.hebergements_articles
{
    max-width: 28%;
    max-height: 100%;
    padding: 5px 5px 10px 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #d9d9d9;
}

.hebergements_articles:hover
{
    transform: scale(1.02);
    transition-duration: 0.2s;
}

.hebergements_figures
{
   margin: 0;
}

.hebergements_img
{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.hebergements_fc
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}

.hebergements_fc h3
{
    font-size: 1em;
    font-weight: bold;
    color: black;
    margin: 0;
    margin-top: 6px;
}

.hebergements_fc p
{
    font-size: 0.9em;
    font-weight: 500;
    color: black;
    margin: 0;
    margin-top: 2px;
}

.stars 
{
    display: flex;
    color: #0065FC;
    margin-top: 6px;
    font-size: 0.9em;
}

.stars .vide
{
    color: #d9d9d9;
}

.afficher_plus
{
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    position: relative;
    left: 16px;
    top: 18px;
}

.populaires
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    height: 660px;
}

.titre_populaires
{
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: 700;
    font-weight: bold;
    margin: 40px 36px 20px 36px;
}

.titre_populaires i
{
   
}

.populaires_container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 535px;
}

.populaires_articles
{
    width: 80%;
    height: 136px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #d9d9d9;
    overflow: auto;
}

.populaires_articles:hover
{
    transform: scale(1.02);
    transition-duration: 0.2s;
}

.populaires_articles a 
{
    display: flex;
    width: 100%;
    height: 100%;
}

.populaires_div_img
{
    position: relative;
    width: 37%;
    height: 100%;
}

.populaires_img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px 0 0 16px;
}

.populaires_div_txt
{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    margin-left: 20px;
}

.populaires_div_txt h3
{
    color: black;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    width: 90%;
}

.populaires_div_txt p
{
    font-size: 0.9em;
    font-weight: 500;
    color: black;
    margin: 0;
    margin-top: 7px;
}

.stars_2
{
    display: flex;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 8px;
    color: #0065FC;
    font-size: 0.9em;
}

.stars_2 .vide
{
    color: #d9d9d9;
}

@media all and (max-width: 1422px)
{
    .hebergements_populaires
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .populaires
    {
        height: 100%;
        width: 100%;
        padding-bottom: 22px;
        margin-bottom: 30px;
    }

    .populaires_container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 100%;
    }

    .populaires_articles
    {
        width: 30%;
    }

    .titre_populaires
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 30px;
        margin-bottom: 33px;
        padding-right: 60px;
        box-sizing: border-box;
    }
    
    .hebergements
    {
        width: 100%;
        height: 600px;
        padding: 0;
    }

    .titre_hebergements
    {
        margin-bottom: 33px;
        margin-left: 30px;
    }
}

@media all and (max-width: 1010px)
{
    .populaires_container
    {
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 100%;
    }

    .populaires_articles
    {
        width: 90%;
    }

    .populaires_img
    {
        width: 100%;
    }
   
}

@media all and (max-width: 780px)
{
    .hebergements
    {
        height: 1675px;
    }

    .hebergements_container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90%;
    }

    .hebergements_articles
    {
        min-width: 90%;
    }
}

.activites
{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 100%;
    height: 520px;
}

.activites h2
{
    font-size: 1.5em;
    font-weight: 700;
    font-weight: bold;
}

.activites_container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
}

.hover:hover
{
    transform: scale(1.02);
    transition-duration: 0.2s;
}

.vieux_port_container 
{
    width: 22%;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px #d9d9d9;
}

.vieux_port_figure
{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.vieux_port_img
{
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.fort_de_pomegues_container
{
    width: 100%;
    height: 240px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px #d9d9d9;
}

.fort_de_pomegues_figure
{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.fort_de_pomegues_img
{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.iles_du_frioul_container
{
    width: 100%;
    height: 170px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px #d9d9d9;
}

.iles_du_frioul_figure
{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.iles_du_frioul_img
{
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.container_colonne_2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}

.parc_national_des_calanques_container
{
    width: 22%;
    height: 450px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px #d9d9d9;
}

.parc_national_des_calanques_figure
{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.parc_national_des_calanques_img
{
    width: 100%;
    height: 390px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.notre_dame_de_la_garde_container
{
    width: 100%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px #d9d9d9;
}

.notre_dame_de_la_garde_figure
{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.notre_dame_de_la_garde_img
{
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.parc_longchamp_container
{
    width: 100%;
    height: 215px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px #d9d9d9;
}

.parc_longchamp_figure
{
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}

.parc_longchamp_img
{
    width: 100%;
    height: 155px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.container_colonne_4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}

.activites h3
{
    color: black;
    font-size: 1em;
    font-weight: bold;
    margin: 15px 0 16px 18px;
}

@media all and (max-width: 1000px)
{
    .activites
    {
        height: 1490px;
    }

    .activites h2 
    {
        margin-left: 30px;
        margin-bottom: 33px;
    }

    .activites_container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 90%;
    }

    .vieux_port_container
    {
        height: 203px;
        width: 90%;
    }

    .vieux_port_img
    {
        height: 143px;
    }

    .parc_national_des_calanques_container
    {
        height: 203px;
        width: 90%;
    }

    .parc_national_des_calanques_img
    {
        height: 143px;
    }

    .container_colonne_2
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
   
    .fort_de_pomegues_container
    {
        height: 203px;
        width: 90%;
        margin-bottom: 24px;
    }

    .fort_de_pomegues_img
    {
        height: 143px;
    }

    .iles_du_frioul_container
    {
        height: 203px;
        width: 90%;
    }

    .iles_du_frioul_img
    {
        height: 143px;
    }

    .container_colonne_4
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .notre_dame_de_la_garde_container
    {
        height: 203px;
        width: 90%;
        margin-bottom: 24px;
    }

    .notre_dame_de_la_garde_img
    {
        height: 143px;
    }

    .parc_longchamp_container
    {
        height: 203px;
        width: 90%;
    }

    .parc_longchamp_img
    {
        height: 143px;
    }
}

.footer 
{
    min-height: 100%;
    margin-top: 50px;
    background-color: #F2F2F2;
}

.colonnes_container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1390px;
    max-width: 100%;
    padding: 0 30px 20px 30px;
    margin: auto;
    box-sizing: border-box;
}

.colonnes_footer
{
    display: flex;
    flex-direction: column;
    width: 1000%;
    padding: 0 30px;
}

.colonnes_footer h3
{
    font-size: 1.10em;
    font-weight: bold;
    margin-top: 38px;
    margin-bottom: 18px;
}

.txt_footer
{
    display: flex;
    flex-direction: column;
}

.txt_footer a
{
    color: black;
    font-size: 1em;
    margin-bottom: 13px;
}

.txt_footer a:hover
{
    text-decoration: underline black;
}

@media all and (max-width: 677px)
{
    .colonnes_container
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .colonnes_footer
    {
        width: 100%;
        box-sizing: border-box;
    }
}